<html>
  <body>
    <form method="POST" action="/signup">
      <div>
        <label>UserName:</label>
        <input required name="userName" value="<%= formData.userName || '' %>"/>
        <% if (err.userName) { %>
          <span ><%= err.userName %></span>
        <% } %>
      </div>

      <div>
        <label>Email:</label>
        <input required name="email" value="<%= formData.email || '' %>"/>
        <% if (err.email) { %>
          <span ><%= err.email %></span>
        <% } %>
      </div>

      <div>
        <label>Password:</label>
        <input required name="password" type="password" value="<%= formData.password || '' %>"/>
        <% if (err.password) { %>
          <span ><%= err.password %></span>
        <% } %>
      </div>

      <div>
        <label>Confirm Password:</label>
        <input required name="confirmPassword" type="password" value="<%= formData.confirmPassword || '' %>"/>
        <% if (err.confirmPassword) { %>
          <span ><%= err.confirmPassword %></span>
        <% } %>
      </div>
      <button type="submit">Submit</button>
    </form>
    <p>Already a User? <a href='/login'> Login</a> </p>
  </body>
</html>
